@using KitapKiralamaOtomasyonu.Models
@model List<Borrow>
@if (TempData["success"] != null)
{
    <h2>@TempData["success"]</h2>
}

<div class="container">
    <div class="row pt-3 pb-4">
        <div>
            <h1>Kitaplar</h1>
        </div>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Kitap</th>
                <th>Kullanıcı</th>
                <th>Resim</th>
                <th>Güncelle</th>
                <th>Sil</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var borrow in Model)
            {
                <tr>
                    <td>@(Model.IndexOf(borrow) + 1)</td>
                    <td>@borrow.book.BookName</td>

                    <td>@borrow.UserName</td>

                  
                    <td>
                        <div class="col-2">
                            @if (!string.IsNullOrEmpty(borrow.book.ImageUrl))
                            {
                                <img src="@borrow.book.ImageUrl" width="200px" style="border-radius:7px; border:1px solid #bbb9b9" />
                            }
                        </div>
                    </td>
                    <td>
                        <a name="BorrowId" value="@borrow.BorrowId" asp-controller="Borrow" asp-action="Update" asp-route-BorrowId="@borrow.BorrowId" class="btn btn-success" style="width:250px">Güncelle</a>
                    </td>
                    <td>
                        <form asp-controller="Borrow" asp-action="Delete" method="post" style="display:inline;">
                            <input type="hidden" name="BorrowId" value="@borrow.BorrowId" />
                            <button type="submit" class="btn btn-danger" style="width:250px">Sil</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="row pt-3 pb-2">
        <div>
            <a asp-controller="Borrow" asp-action="Add" class="btn btn-lg btn-primary" type="button">Ödünç kitap ver</a>
        </div>
    </div>
</div>
